{:deps {cljs-ajax {:mvn/version "0.7.4"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        re-frame {:mvn/version "0.10.5"}}

 :aliases {:test {:extra-deps {olical/cljs-test-runner {:mvn/version "2.0.0"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "cljs-test-runner.main"]}}}
